In [21]:
import pandas as pd
import numpy as np
from datetime import datetime
import gzip

In [2]:
listings = pd.read_csv("~/Desktop/TTP_DATA/JaquelinErazo-Capstone2/DATA/listings.csv")

In [3]:
neighborhoods = pd.read_csv("~/Desktop/TTP_DATA/JaquelinErazo-Capstone2/DATA/neighbourhoods.csv")

In [4]:
reviews = pd.read_csv("~/Desktop/TTP_DATA/JaquelinErazo-Capstone2/DATA/reviews.csv")

In [5]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2577,Loft for 4 by Canal Saint Martin,2827,Karine,NaN,Entrepôt,48.86993,2.36251,Entire home/apt,125,3,1,2019-01-02,0.06,1,365
1,3109,zen and calm,3631,Anne,NaN,Observatoire,48.83349,2.31852,Entire home/apt,60,2,9,2019-10-24,0.22,1,365
2,5396,Explore the heart of old Paris,7903,Borzou,NaN,Hôtel-de-Ville,48.85100,2.35869,Entire home/apt,115,1,220,2020-03-22,1.66,1,91
3,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,2626,Franck,NaN,Hôtel-de-Ville,48.85758,2.35275,Entire home/apt,119,10,268,2020-02-26,2.42,5,264
4,7964,Large & sunny flat with balcony !,22155,Anaïs,NaN,Opéra,48.87417,2.34245,Entire home/apt,130,6,6,2015-09-14,0.05,1,330

In [6]:
neighborhoods.head()

   neighbourhood_group        neighbourhood
0                  NaN  Batignolles-Monceau
1                  NaN               Bourse
2                  NaN      Buttes-Chaumont
3                  NaN    Buttes-Montmartre
4                  NaN               Élysée

In [7]:
reviews.head()

   listing_id        date
0        2577  2019-01-02
1        3109  2016-12-27
2        3109  2016-12-28
3        3109  2017-10-28
4        3109  2017-11-03

In [8]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66900 entries, 0 to 66899
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              66900 non-null  int64
 1   name                            66834 non-null  object
 2   host_id                         66900 non-null  int64
 3   host_name                       66890 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   66900 non-null  object
 6   latitude                        66900 non-null  float64
 7   longitude                       66900 non-null  float64
 8   room_type                       66900 non-null  object
 9   price                           66900 non-null  int64
 10  minimum_nights                  66900 non-null  int64
 11  number_of_reviews               66900 non-null  int64
 12  last_review                     52901 non-null  object
 13  reviews_per_month               52901 non-null  float64
 14  calculated_host_listings_count  66900 non-null  int64
 15  availability_365                66900 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 8.2+ MB

In [9]:
neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  0 non-null      float64
 1   neighbourhood        20 non-null     object
dtypes: float64(1), object(1)
memory usage: 448.0+ bytes

In [10]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1363744 entries, 0 to 1363743
Data columns (total 2 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1363744 non-null  int64
 1   date        1363744 non-null  object
dtypes: int64(1), object(1)
memory usage: 20.8+ MB

In [11]:
listings.loc[listings['number_of_reviews'] == 0]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
5,9359,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",28422,Bernadette,NaN,Louvre,48.85899,2.34735,Entire home/apt,75,180,0,NaN,NaN,1,72
50,33004,flat to rent during the summer,143020,Ketty,NaN,Entrepôt,48.87842,2.35029,Entire home/apt,114,30,0,NaN,NaN,1,1
82,45175,Appartement XIX century near Buttes,199617,Simone,NaN,Buttes-Chaumont,48.87564,2.38717,Private room,63,3,0,NaN,NaN,1,0
173,140211,STUDIO APT CITY CENTRE FOR NEW YEAR,683098,Freddy,NaN,Bourse,48.86602,2.35117,Private room,50,1,0,NaN,NaN,1,0
240,191531,LOVELY DUPLEX IN LE MARAIS,926484,Alex,NaN,Temple,48.86322,2.36255,Entire home/apt,150,1,0,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66895,43395769,Studio champs Élysées,330233970,Marc/Aicha,NaN,Passy,48.86720,2.29865,Entire home/apt,60,2,0,NaN,NaN,5,90
66896,43396154,F2 . Living room ´bedroom ´kitchen washroom,238702044,Akhtar,NaN,Entrepôt,48.87023,2.36977,Private room,40,1,0,NaN,NaN,2,92
66897,43396700,"La vue et l'espace, studio lumineux sous les t...",245787363,Felix,NaN,Entrepôt,48.88340,2.36098,Entire home/apt,32,30,0,NaN,NaN,1,265
66898,43396938,Cute little flat in the center of Paris,34462615,Catalina,NaN,Reuilly,48.85072,2.37303,Entire home/apt,65,2,0,NaN,NaN,1,364
66899,43397586,Room in flatshare to rent urgently short-term,20511323,Anna,NaN,Temple,48.86600,2.36302,Private room,30,30,0,NaN,NaN,1,90

In [12]:
reviews[['review_year', 'review_month', "review_day"]]= reviews['date'].str.split('-', expand = True)

In [13]:
reviews.head()

   listing_id        date review_year review_month review_day
0        2577  2019-01-02        2019           01         02
1        3109  2016-12-27        2016           12         27
2        3109  2016-12-28        2016           12         28
3        3109  2017-10-28        2017           10         28
4        3109  2017-11-03        2017           11         03

In [14]:
reviews.loc[reviews.review_year == '2019']

         listing_id        date review_year review_month review_day
0              2577  2019-01-02        2019           01         02
9              3109  2019-10-24        2019           10         24
161            5396  2019-01-02        2019           01         02
162            5396  2019-01-04        2019           01         04
163            5396  2019-01-10        2019           01         10
...             ...         ...         ...          ...        ...
1358161    41060159  2019-12-27        2019           12         27
1358275    41081987  2019-12-29        2019           12         29
1358327    41092919  2019-12-29        2019           12         29
1358330    41093879  2019-12-29        2019           12         29
1358429    41109856  2019-12-30        2019           12         30

[446174 rows x 5 columns]

In [23]:
listings_ext = pd.read_csv("~/Desktop/TTP_DATA/JaquelinErazo-Capstone2/DATA/listings_extended.csv")

In [33]:
pd.set_option('display.max_columns', 110)

In [36]:
listings_ext.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2577,https://www.airbnb.com/rooms/2577,20200611183008,2020-06-15,Loft for 4 by Canal Saint Martin,"100 m2 loft (1100 sq feet) with high ceiling, ...",The district has any service or shop you may d...,"100 m2 loft (1100 sq feet) with high ceiling, ...",none,NaN,NaN,"Metro lines : 4, 8, 3, 11, 9.",NaN,NaN,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/09da057c-0...,NaN,2827,https://www.airbnb.com/users/show/2827,Karine,2008-09-09,"Casablanca, Grand Casablanca, Morocco","Arrivée à Casablanca il y a 4 ans, je suis amo...",within a day,88%,100%,f,https://a0.muscache.com/im/pictures/user/17fe6...,https://a0.muscache.com/im/pictures/user/17fe6...,République,2.0,2.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Paris, Île-de-France, France",République,Entrepôt,NaN,Paris,Île-de-France,75010,Paris,"Paris, France",FR,France,48.86993,2.36251,t,Loft,Entire home/apt,4,2.0,2.0,2.0,Real Bed,"{TV,Internet,Wifi,Kitchen,Heating,Washer,Dryer...",NaN,$125.00,NaN,NaN,$0.00,$40.00,1,$0.00,3,1125,3,3,1125,1125,3.0,1125.0,19 months ago,t,30,60,90,365,2020-06-15,1,0,2019-01-02,2019-01-02,100.0,10.0,10.0,10.0,10.0,10.0,10.0,t,NaN,"{""translation missing: en.occupancy.taxes.juri...",t,f,strict_14_with_grace_period,f,f,1,1,0,0,0.06
1,3109,https://www.airbnb.com/rooms/3109,20200611183008,2020-06-16,zen and calm,Appartement très calme de 50M2 Utilisation de ...,I bedroom appartment in Paris 14,I bedroom appartment in Paris 14 Good restaura...,none,Good restaurants very close the Montparnasse S...,NaN,RER B Metro Ligne 13 Pernety Metro Ligne 13 Pl...,"A la demande, vous pouvez avoir accès à la cha...",yes I can help you out,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/baeae9e2-c...,NaN,3631,https://www.airbnb.com/users/show/3631,Anne,2008-10-14,"Paris, Île-de-France, France",NaN,NaN,NaN,50%,f,https://a0.muscache.com/im/users/3631/profile_...,https://a0.muscache.com/im/users/3631/profile_...,Alésia,1.0,1.0,"['email', 'phone', 'facebook', 'reviews']",t,f,"Paris, Île-de-France, France",Alésia,Observatoire,NaN,Paris,Île-de-France,75014,Paris,"Paris, France",FR,France,48.83349,2.31852,f,Apartment,Entire home/apt,2,1.0,0.0,1.0,Real Bed,"{Internet,Wifi,Kitchen,""Paid parking off premi...",NaN,$60.00,$490.00,NaN,$150.00,$60.00,1,$0.00,2,30,2,2,30,30,2.0,30.0,4 months ago,t,30,60,90,365,2020-06-16,9,1,2016-12-27,2019-10-24,100.0,10.0,10.0,10.0,10.0,10.0,10.0,t,NaN,"{""translation missing: en.occupancy.taxes.juri...",f,f,flexible,f,f,1,1,0,0,0.21
2,4890,https://www.airbnb.com/rooms/4890,20200611183008,2020-06-14,Quiet Historic & Cute +Free Cruise,Stylish & Classic One bedroom apartment for up...,2 Free River Cruise Tix with your booking ! M...,Stylish & Classic One bedroom apartment for up...,none,"Called ""Paris Next Great Neighborhood"" from Tr...","Apartment is on 1st Floor, one flight of stair...","METRO: Arts et Metiers (Lines 3,11), Rambuteau...","Unlike most agencies, Cobblestone Paris is...",An English-Speaking Greeter will Meet you at t...,No Smoking No Pets,NaN,NaN,https://a0.muscache.com/im/pictures/b144894f-b...,NaN,6792,https://www.airbnb.com/users/show/6792,Jennifer Of Cobblestone,2009-01-16,"Paris, Île-de-France, France",I am the owner of Cobblestone Paris Rentals\r\...,within a day,100%,100%,f,https://a0.muscache.com/im/users/6792/profile_...,https://a0.muscache.com/im/users/6792/profile_...,Le Marais,5.0,5.0,"['email', 'phone', 'reviews', 'jumio', 'selfie...",t,f,"Paris, Ile-de-France, France",III Arrondissement,Temple,NaN,Paris,Ile-de-France,75003,Paris,"Paris, France",FR,France,48.86409,2.35651,t,Apartment,Entire home/apt,4,1.0,1.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,Kitchen,Heating,""...",344.0,$100.00,NaN,NaN,$300.00,$50.00,2,$10.00,4,120,4,4,120,120,4.0,120.0,9 months ago,t,11,24,54,55,2020-06-14,22,0,2011-11-22,2017-04-30,96.0,10.0,10.0,10.0,10.0,10.0,10.0,t,NaN,"{""translation missing: en.occupancy.taxes.juri...",t,f,moderate,f,f,1,1,0,0,0.21
3,5396,https://www.airbnb.com/rooms/5396,20200611183008,2020-06-14,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...","Small, well appointed studio apartment at the ...","Cozy, well-appointed and graciously designed s...",none,"You are within walking distance to the Louvre,...",The staircase leading up to the apartment is n...,The flat is close to two or three major metro ...,"The flat includes its own modern bathroom, a w...",We expect guests to operate rather independent...,This is a small flat in a very old building th...,NaN,NaN,https://a0.muscache.com/im/pictures/52413/f9bf...,NaN,7903,https://www.airbnb.com/users/show/7903,Borzou,2009-02-14,"Istanbul, İstanbul, Turkey",We are both journalists based in the Middle Ea...,within a day,100%,100%,f,https://a0.muscache.com/im/users/7903/profile_...,https://a0.muscache.com/im/users/7903/profile_...,Saint-Paul - Ile Saint-Louis,1.0,1.0,"['email', 'phone', 'facebook', 'google', 'revi...",t,t,"Paris, Ile-de-France, France",IV Arrondissement,Hôtel-de-Ville,NaN,Paris,Ile-de-France,75004,Paris,"Paris, France",FR,France,48.85100,2.35869,t,Apartment,Entire home/apt,2,1.0,0.0,1.0,Pull-out Sofa,"{Internet,Kitchen,Heating,Washer,""Smoke alarm""...",NaN,$115.00,$600.00,"$2,000.00",$0.00,$36.00,1,$0.00,1,1125,1,1,1125,1125,1.0,1125.0,2 months ago,t,30,60,90,90,2020-06-14,221,46,2009-06-30,2020-05-26,90.0,9.0,9.0,9.0,10.0,10.0,8.0,t,7510402838018,"{""translation missing: en.occupancy.taxes.juri...",f,f,strict_14_with_grace_period,f,f,1,1,0,0,1.66
4,7397,https://www.airbnb.com/rooms/7397,20200611183008,2020-06-15,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !",PLEASE ASK ME BEFORE TO MAKE A REQUEST !!! No ...,"VERY CONVENIENT, WITH THE BEST LOCATION ! PLEA...",none,NaN,Important: Be conscious that an apartment in a...,Metro station HÖTEL-DE-VILLE is 100 meters close.,NaN,NaN,ELECTRICITY INCLUDED FOR NORMAL USING. PLEASE ...,NaN,NaN,https://a0.muscache.com/im/pictures/67928287/3...,NaN,2626,https://www.airbnb.com/users/show/2626,Franck,2008-08-30,"Paris, Île-de-France, France","I am a writer,51, author of novels, books of l...",within an hour,100%,89%,t,https://a0.muscache.com/im/pictures/user/58f00...,https://a0.muscache.com/im/pictures/user/58f00...,Le Marais,3.0,3.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Paris, Île-de-France, France",IV Arrondissement,Hôtel-de-Ville,NaN,Paris,Île-de-France,75004,Paris,"Paris, France",FR,France,48.85758,2.35275,t,Apartment,Entire home/apt,4,1.0,2.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Paid par...",NaN,$119.00,NaN,"$2,200.00",$200.00,$50.00,2,$10.00,10,130,6,10,130,130,9.9,130.0,6 weeks ago,t,5,29,59,288,2020-06-15,268,22,2011-04-08,2020-02-26,94.0,10.0,9.0,10.0,10.0,10.0,10.0,t,7510400829623,"{""translation missing: en.occupancy.taxes.juri...",f,f,moderate,f,f,2,2,0,0,2.39